
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  
}

sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #4287f5;
 
}

sidebar ul {
  margin-top: 3rem;
}

sidebar ul li {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 40px;
 text-align: left;
 margin-left: 2rem;
 font-weight: bold;
 transition: 0.8s;
}

ul li:hover {
  padding-left: 30px;
}

